<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appatemporal">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAtemporal"
        tools:targetApi="31">
        <activity
            android:name=".framework.view.FaqAyudante"
            android:exported="true" />
        <activity
            android:name=".framework.view.FaqEspectador"
            android:exported="true" />
        <activity
            android:name=".framework.view.FaqOrganizador"
            android:exported="true" />
        <activity
            android:name=".framework.view.ReportFailureActivity"
            android:exported="true" />
        <activity
            android:name=".framework.view.RegisterSale"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ContactInfo"
            android:exported="true" />
        <activity
            android:name=".framework.view.SupportActivity"
            android:exported="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".framework.view.RegisterQRView"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".framework.view.SelectedEventView"
            android:exported="false" />
        <activity
            android:name=".framework.view.Main"
            android:exported="true" />
        <activity
            android:name=".framework.view.DeleteActivity"
            android:exported="true" />
        <activity
            android:name=".framework.view.homepageespectador.HomePageEspectador"
            android:exported="true" />
        <activity
            android:name=".framework.view.VisualizarEventoActivity"
            android:exported="true" />
        <activity
            android:name=".framework.view.Dashboard"
            android:exported="true" >
        </activity>
        <activity
            android:name=".framework.view.AddNewProjectForm"
            android:exported="true" />
        <activity
            android:name=".framework.view.BoletoPorEventoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.CategoriasEventos"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ProyectoOrganizador"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.Favoritosespectador_activity"
            android:exported="true" />
        <activity
            android:name=".framework.view.PhoneActivity"
            android:exported="true"/>
        <activity
            android:name=".framework.view.ModificarActividad"
            android:exported="true" />
        <activity
            android:name=".framework.view.ModificarProyecto"
            android:exported="true" />
        <activity
            android:name=".framework.view.PresupuestoAndMeta"
            android:exported="true" />
        <activity
            android:name=".framework.view.EventosFiltrados"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ConsultarBoleto"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".framework.view.DeleteCosto"
            android:exported="true" />
        <activity
            android:name=".framework.view.AddNewActivityForm"
            android:exported="true" />
        <activity
            android:name=".framework.view.AddNewCostoForm"
            android:exported="true" />
        <activity
            android:name=".framework.view.ModificarCosto"
            android:exported="true" />
        <activity
            android:name=".framework.view.ActivityProyectoOrganizador"
            android:exported="true" />
        <activity
            android:name=".framework.view.OTPActivity"
            android:exported="false" />
        <activity
            android:name=".framework.view.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".framework.view.TermsCond"
            android:exported="true" />
        <activity
            android:name=".framework.view.DetailedMetrics"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.CheckIfLogged"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ActivityVisualizarEventoOrganizador"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ActivityVisualizarEventoEspectador"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.GetCommentsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.CreateEvent"
            android:exported="true">

        </activity>
        <activity
            android:name=".framework.view.CreateFunction"
            android:exported="true">

        </activity>
        <activity
            android:name=".framework.view.AddArtist"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ActivityAddCategoria"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".framework.view.ActivityAddTB"
            android:exported="true">

        </activity>

        <activity
            android:name=".framework.view.ActivityMainHomepageOrganizador"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ActivityMainHomepageEspectador"
            android:exported="true">
        </activity>
        <activity
            android:name=".framework.view.ActivityMisEventosOrganizador"
            android:exported="true">

        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>